html { 
    background: url('/static/images/back.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    background: url('/static/images/chatarea1.jpg') no-repeat center center fixed;
    width: 450px;
    max-height: 750px;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    z-index: 15;
    top: 15%;
    left: 45%;
    margin: -100px 0 0 -150px;
}

.title {
    background-color: #F8765A;
    font-size: large;
    font-weight: bold;
    width: inherit;
    max-width: inherit;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    position: fixed; 
}

.chat-area {
    flex-grow: 1;
    border-radius: 8px;
    padding: 80px 10px 5px 12px;
    min-height: 500px;
    flex-direction: column;
}

.input-message {
    padding: 8px 24px;
    flex-grow: 1;
    margin: 0px 8px 0px 0px;
    border-radius: 24px;
    border: none;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input-message:focus{
    outline :none;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.input-div {
    height: 48px;
    width: calc(100% - 32px);
    margin: 16px;
    display: flex;
}

.input-send {
    background :#F8765A;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    border: none;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input-send:hover{
    cursor:pointer;  
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.bot-message {
    display: inline-block;
    background-color: #EC9EF5; 
    padding: 5px 10px 5px 12px;
    margin: 10px 5px 5px 5px;
    word-break:break-all;
    /*height: 100%;*/
    border-radius: 5px 10px 5px;
    padding: 10px;
}

.user-input {
    display: inline-block;
    background-color: #0BA4A3;
    padding: 10px;
    margin-top: 10px;
    word-break:break-all;
    text-align: right;
    /*height: 100%;*/
    border-radius: 5px 10px 5px;
    float: right;   
}

.order_btn {
    background-color: #4CAF50;
    border-radius: 15px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.track_btn {
    background-color: #03494C;
    border-radius: 15px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.veg_btn, .vegtype {
    background-color: green;
    border-radius: 15px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.nonveg_btn, .nonvegtype {
    background-color: red;
    border-radius: 15px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.small, .medium, .large, .one, .two, .three, .four {
    border-radius: 15px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.small#small {
    background-color: green;
}

.medium#medium {
    background-color: blue;
}

.large#large {
    background-color: red;
}

.one#one {
    background-color: green;
}

.two#two {
    background-color: blue;
}

.three#three {
    background-color: red;
}

.four#four {
    background-color: maroon;
}


..input-message::-webkit-input-placeholder {
    color: #b2cde0
 }


.row{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.card {
    max-width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
    flex-basis: 30%;
    border: solid;
    flex-grow: 0;
    flex-shrink: 0;
}

@media only screen and (max-width: 600px) {
  .card {
    display: block;
    width: 100%;
  }
}

.card > img {
    display: flex;
    max-width:100%;
    max-height:100%;
    min-height: 120px;
}

.card-text {
    font-size: 85%;
    min-height: 150px;
}

.pizza_image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}