{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Pizza Order Chatbot</title>
		<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">	
	</head>
	<body>
		<div class="container">
			<div class="title">
				YoYo Pizza ChatBot
			</div>
			<div class="chat-area" id="message-box">
				<!-- <div class="bot-message">bot</div><br>
				<div class="user-input">user</div><br><br> -->
			</div>
			<div class="input-div">
				<input class="input-message" type="text" name="message" id="message">
				<a href="#bottom">
					<button class="input-send">
						<svg style="width:24px;height:24px">
		    				<path d="M2,21L23,12L2,3V10L17,12L2,14V21Z" />
						</svg>
					</button>
				</a>
			</div>
			<a id="bottom"></a>
		</div>
	<script type="text/javascript" src="{% static '/js/index.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</body>
</html>